.header {
    margin-bottom: 45px;
    .navbar {
        padding: 25px 10px;
    }
    .navbar-brand {
        font-size: 25px;
        text-transform: uppercase;
    }
    .nav-link {
        font-size: 18px;
    }
}